.table-style{
  margin:50px 0;


  .mat-header-row{
    background-color:#F1F1F5;
    height: 5px;
  }

 

  .date-cell{
    display: flex;
    flex-direction: column;
    font-style: italic;
    align-items: flex-start;
    color:#07022A;
    justify-content: center;

    p{margin:0;}
    p:first-child{
      font-size: 14px;
      font-weight: 600;
      font-style: italic;
      margin-bottom: 5px;

    }
    p:last-child{
      font-size: 12px;
      font-style: italic;
      font-weight: 300;

    }
  }

  .campaign-details{
    display: flex;
    font-style: italic;
    img{
      height:40px;
      width:40px;
    }
    .details-container{
      margin-left:10px;
      display: flex;
      flex-direction: column;
      p{margin:0;}
    p:first-child{
      font-size: 14px;
      font-style: italic;
      font-weight: 500;
      margin-bottom: 5px;
    }
    p:last-child{
      font-size: 12px;
      font-weight: 300;
      font-style: italic;
    }
    }
  }
    .pricing-cell{
      display: flex;
      font-style: italic;
      img{
        height:20px;
        width:20px;
        margin-right:10px;
      }

    }



  .csv-button,.report-button ,.reschedule {
      padding:0;

    button{
    outline: none;
    background: none;
    font-style: italic;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    img{
      height:20px;
      width: 20px;
      margin-right: 5px;
    }
  }
  }


  .reschedule{
    mat-form-field{
      input{

      }
      width: 10%;
    }
  }
  mat-cell{
    padding:15px;
  }
  mat-header-cell{
    padding:10px;
    font-size: 16px;
    font-style: italic;
  }
}
